/*
  Fonts
*/
@font-face {
  font-family: 'Glacial Indifference Bold';
  src: url('../assets/fonts/glacial-indifference/GlacialIndifference-Bold.ttf');
}

@font-face {
  font-family: 'Museo';
  src: url('../assets/fonts/museo/Museo.otf');
}
